RSS_URL=https://archlinux.org/feeds/packages/x86_64/core/,https://archlinux.org/feeds/packages/x86_64/extra/,https://archlinux.org/feeds/packages/x86_64/multilib/
CHECK_INTERVAL=10m
STATE_FILE=state.json
FETCH_RETRIES=2
FETCH_BACKOFF=1s
